.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.188em rgba(0, 0, 0, 0.3);
    max-width: 23em; /* 368px*/
    margin: 1.25em auto; /* 20px */
    padding: 0.938em 0.625em; /* 15px 10px */
    background: #fff;

    h2 {
      font-size: 1.1em;
    }


    button {
      margin: 1em;
      padding: 0.5em 1em;
      font-size: 1.2em;
      border: 1px solid gray;
      border-radius: 5px;
      background-color: transparent;
    }

    button:hover {
      background-color: rgb(190, 189, 189);
    }

    button:active {
      box-shadow: 1px 1px rgb(105, 105, 105);
      transform: translateX(4px);
    }


    picture {
      max-height: 25em;

      img {
        height: auto; 
        width: auto; 
        max-width: 18.75em; /* 300px */
        max-height: 18.75em; /* 300px */
        }
    }

  }
  
  small {
    border: 2px solid #777;
    border-radius: 7px;
    padding: 5px 12px;
    color: #777;
  }

.eliminar {
  border: 2px solid red;
}

.smart-watch {
  border: 2px solid yellow;
}